.topspace{
    margin-top: 25px;
}
.main{
  margin-bottom: 25px;
}
/*
img.hoverImages {
	float:left;
	-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
*/
img.hoverImages{
-webkit-transform:scale(0.8); /*Webkit: Scale down image to 0.8x original size*/
-moz-transform:scale(0.8); /*Mozilla scale version*/
-o-transform:scale(0.8); /*Opera scale version*/
-webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
-moz-transition-duration: 0.5s; /*Mozilla duration version*/
-o-transition-duration: 0.5s; /*Opera duration version*/
opacity: 0.7; /*initial opacity of images*/
margin: 0 10px 5px 0; /*margin between images*/
}
/*
img.hoverImages:hover {
	cursor:pointer;
    margin-top: -15px;
}
*/
img.hoverImages:hover{
-webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
-moz-transform:scale(1.1); /*Mozilla scale version*/
-o-transform:scale(1.1); /*Opera scale version*/
box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
-webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
opacity: 1;
}



.hoverImages{
  width: 100px;
  height: 100px;
}
.footer{
      width: 100%;
      height: 35px;
      background-color: #000;
      color: #ddd;
      position: fixed;
      left: 0px;
      bottom: 0px;
      text-align: center;
      padding: 3px 0px 0px 0px;
      margin: 0px 0px -5px 0px;
      font-size: 15px;
      font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
}
.item-page{
  padding: 25px 50px 0px 50px;
  margin-bottom: 50px;
}
textarea.msg-contact-seller{
  margin-top: 10px;
  width: 100%;
  height: 90px;
}
a.no-links{
  color:#222;
}
.permalink{
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.4;
  padding-left: 3px;
  font-size:11px;
  margin-right:10px;
}
.item img{
  width: 100px;
  height: 100px;
}
.carousel-inner > .item > img { 
  margin: 0 auto; 
  height: 300px;
  width: auto;
}
.item-strip{
  padding-top:0px;
  border:2px solid;
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
}
#type-dropdown.hasFilter, #category-dropdown.hasFilter {
  color: #5cff5c;
}
.well  img {
  padding-top:10px;
  margin-top:10px;
  padding:1px;
  border:thin solid black;
  }
.Item { 
  background-color: #FF82AB;
}
.ServiceJob { 
  background-color: #00FFFF;
}
.Housing { 
  background-color: #FFD700;
}
.modal{
height:80%;
left: 50%;
}
.modal-body {
 height:70%;
  max-height: 600px;

}

html {
  background-color: #ffd700;
}

 body {
  background-color:  #ffd700  ;
}
.modal-footer {

  margin-bottom: 0;
  text-align: right;
 
  

}
