{% extends "page.html" %}
{% block main %}

	<!-- single line with images -->
<div class="row-fluid topspace">
	<!-- single box-->
	<div class="span4">
		<div class="row-fluid">
			<div class="span4">
				<img src="http://placehold.it/100x100" class="hoverImages"/>
			</div>
			<div class="span6 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
		</div>
	</div><!--end single box -->
		<!-- single box-->
	<div class="span4">
		<div class="row-fluid">
			<div class="span4">
				<img src="http://placehold.it/100x100" class="hoverImages"/>
			</div>
			<div class="span6 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
		</div>
	</div><!--end single box -->
	<!-- single box-->
	<div class="span4">
		<div class="row-fluid">
			<div class="span4">
				<img src="http://placehold.it/100x100" class="hoverImages"/>
			</div>
			<div class="span6 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
		</div>
	</div><!--end single box -->

</div><!--end single line -->
	<!-- single line mixed images -->
<div class="row-fluid topspace">
	<!-- single box-->
	<div class="span4 well">
		<div class="row-fluid">
			<div class="span8 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
			<div class="span4">
				<img src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/>
			</div>
		</div>
	</div><!--end single box -->
		<!-- single box-->
	<div class="span4 well">
		<div class="row-fluid">
			<div class="span8 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
			<div class="span4">
				<img src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/>
			</div>
		</div>
	</div><!--end single box -->
	<!-- single box-->
	<div class="span4 well">
		<div class="row-fluid">
			<div class="span8 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
			<div class="span4">
				<img src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/>
			</div>
		</div>
	</div><!--end single box -->
</div><!--end single line -->
<!-- single line with images -->
<div class="row-fluid topspace">
	<!-- single box-->
	<div class="span4">
		<div class="row-fluid">
			<div class="span4">
				<img src="http://placehold.it/100x100" class="hoverImages"/>
			</div>
			<div class="span6 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
		</div>
	</div><!--end single box -->
		<!-- single box-->
	<div class="span4 well">
		<div class="row-fluid">
			<div class="span8 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
			<div class="span4">
				<img src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/>
			</div>
		</div>
	</div><!--end single box -->
	<!-- single box-->
	<div class="span4">
		<div class="row-fluid">
			<div class="span4">
				<img src="http://placehold.it/100x100" class="hoverImages"/>
			</div>
			<div class="span6 text-fix">
				<strong>Name: </strong>A good name
				<br/>
				<strong>Type: </strong>Book
				<br/><!--max of 100-106 char -->
				This is an aweosme book. I really found it interesting. 
				<strong>some_username</strong>
				<img src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
			</div>
		</div>
	</div><!--end single box -->
</div>
{% endblock %}
