
{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Messages</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">
        <link href="{% get_static_prefix %}css/email.css" media="screen" rel="stylesheet" type="text/css">
        <script src="{% get_static_prefix %}js/yui-min.js"></script>
    </head>
    <body>




<div class="pure-g-r content" id="layout">
        <div class="pure-u" id="nav">
        <a href="#nav" class="nav-menu-button">Menu</a>
        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul>
                    {% for item in items %}
                    <li><a id="{{item.id}}" >{{ item.pk}} {{item.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="pure-u" id="list">
        <div class="content">

                       
        </div><!-- end of content -->
    </div> <!-- end of list -->

    <div class="pure-u" id="main">
        <div class="content">
            <div class="email-content pure-g">
                <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                        <h1 class="email-content-title">Hello from Toronto</h1>
                        <p class="email-content-subtitle">
                            From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span>
                        </p>
                    </div>

                    <div class="pure-u-1-2 email-content-controls">
                        <button class="pure-button secondary-button">Reply</button>
                    </div>
                </div>

                <div class="email-content-body pure-u-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Aliquam ac feugiat dolor. Proin mattis massa sit amet enim iaculis tincidunt. Mauris tempor mi vitae sem aliquet pharetra. Fusce in dui purus, nec malesuada mauris. Curabitur ornare arcu quis mi blandit laoreet. Vivamus imperdiet fermentum mauris, ac posuere urna tempor at. Duis pellentesque justo ac sapien aliquet egestas. Morbi enim mi, porta eget ullamcorper at, pharetra id lorem.
                    </p>
                    <p>
                        Donec sagittis dolor ut quam pharetra pretium varius in nibh. Suspendisse potenti. Donec imperdiet, velit vel adipiscing bibendum, leo eros tristique augue, eu rutrum lacus sapien vel quam. Nam orci arcu, luctus quis vestibulum ut, ullamcorper ut enim. Morbi semper erat quis orci aliquet condimentum. Nam interdum mauris sed massa dignissim rhoncus.
                    </p>
                    <p>
                        Regards,<br>
                        Tilo
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
// prettyDate from http://ejohn.org/files/pretty.js
function prettyDate(time){
    console.log(time);
    var date = new Date((time || "").replace(/-/g,"/").replace(/[TZ]/g," ")),
        diff = (((new Date()).getTime() - date.getTime()) / 1000),
        day_diff = Math.floor(diff / 86400);
            
    if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
        return;
            
    return day_diff == 0 && (
            diff < 60 && "just now" ||
            diff < 120 && "1 minute ago" ||
            diff < 3600 && Math.floor( diff / 60 ) + " minutes ago" ||
            diff < 7200 && "1 hour ago" ||
            diff < 86400 && Math.floor( diff / 3600 ) + " hours ago") ||
        day_diff == 1 && "Yesterday" ||
        day_diff < 7 && day_diff + " days ago" ||
        day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks ago";
}

var xl;
YUI().use('node', 'event', 'io','json', function (Y) {
    // var html = '<div>    <div>  <p>Hallo there</p>    </div></div>';
    
    // Y.one('#list .content').append(html);
    function makehtml(msg){
        console.log(msg);
        var html = '<div class="email-item ';
        if(msg.read){
            html+='email-item';
        }else{
            html+='email-item-unread';
        }
        // html += (msg.read : 'email-item' ? 'email-item-unread');
        html +=' pure-g">\
                <div class="pure-u">\
                    <img class="email-avatar" alt="Eric Ferraiuolos avatar" src="http://www.gravatar.com/avatar/'+msg.md5+'?s=50" height="64" width="64">\
                </div>\
\
                <div class="pure-u-3-4">\
                    <h5 class="email-name">'+msg.name+' ('+msg.count+') </h5>\
                    <h4 class="email-subject">'+msg.subject+ ' ($'+msg.price+')'+'</h4>\
                    <p class="email-desc">\
                        '+ msg.latest_date + ' \
                    </p>\
                </div>\
            </div> ';
            return html
    }
    Y.io(
        '/api/item?id=1', {
        on: {
            success: function (tx, r) {
                var parsedResponse = null;
                // protected against malformed JSON response
                try {
                    // console.log(r.responseText);
                    parsedResponse = Y.JSON.parse(r.responseText);
                } catch (e) {
                    console.log("JSON Parse failed!");
                    return;
                }
                if(parsedResponse){
                    count = {};
                    for (var i in parsedResponse) {
                        console.log(parsedResponse[i].timestamp);
                        if (count[parsedResponse[i].email]) {
                            count[parsedResponse[i].email].count += 1;
                            if (count[parsedResponse[i].email].read && !parsedResponse[i].read) {
                                count[parsedResponse[i].email].read = parsedResponse[i].read;
                            }
                            if (new Date(count[parsedResponse[i].email].latest_date) > new Date(parsedResponse[i].datetime)) {
                                count[parsedResponse[i].email].latest_date = Date(parsedResponse[i].datetime);
                            }
                        } else {
                            count[parsedResponse[i].email] = {
                                name: parsedResponse[i].from,
                                count: 1,
                                md5: parsedResponse[i].email,
                                read: parsedResponse[i].read,
                                subject: parsedResponse[i].subject,
                                price: parsedResponse[i].price,
                                latest_date: '' + Date(parsedResponse[i].datetime)
                            };
                        }
                    }
                    xl = count;
                    console.log(count);
                    for (var key in count) {
                        console.log();
                        Y.one('#list .content').append(makehtml(count[key]));
                    }
                }
            }
        }
    })
});
</script>



</body>
</html>
