
{% extends "page.html" %}
{% block main %}

<!-- single line mixed images -->
{% for item in items %}
<div class="row-fluid topspace"> <!-- begin single line -->
	{% include "item.html" %}
</div><!--end single line -->
	{% empty %}
    	<h3 class="text-center">Sorry, no items found!</h3>
{% endfor %}
     
{% endblock %}

{% block tail %}
{% if user.is_authenticated%}
<script type="text/javascript">
	$('.modal-footer .btn-primary').click(function(event){
		var msg = $(event.target.parentNode.parentNode).find('textarea').val();
		var id = $(event.target.parentNode.parentNode).find('input[type=hidden]').attr("name");
		$.post('/api/handshake',{message:msg, item_id:id},function(data){
			console.log('successful');
		});
		$('#myModal'+id).modal('hide');
	});
</script>
{% endif %}
{% endblock %}