{% load gravatar %}
{% if item.image %}
{% comment %}Item with image{% endcomment %}
   <!-- single box-->
    <div class="span4">
        <div class="row-fluid">
            <div class="span4" id="{{item.id}}">
                <a href="#myModal{{item.id}}" role="button" data-toggle="modal">
                    <!-- <img alt="item image" src="http://placehold.it/100x100" class="hoverImages"/> -->
                    {% if item.image %}
                    <img alt="image" src="{{ item.image.url }}" class="hoverImages" width=100px height=100px/>
                    {% else %}
                    <img alt="item image" src="http://placehold.it/100x100" class="hoverImages"/>
                    {% endif %}
                </a>
            </div>
            <div class="span6 text-fix">
                <strong>Name: </strong>{{item.name}}
                <br/>
                {% for tag in item.tags.all %}
                {% if forloop.first%}<strong>Type: </strong>{% endif%}
                {% if forloop.last %} {{ tag.name }} {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                <br/><!--max of 100-106 char -->
                {{item.description|truncatechars:103}}
                <div>
                    <!--<strong>{{item.owner.email}}</strong>-->
                    <img alt="gravatar" src="{% gravatar_url item.owner.email %}" height="22" width="22"  style="margin:auto;">
                </div>
                
            </div>
        </div>
    </div><!--end single box -->
{% else %}
{% comment %}Item without image{% endcomment %}
        <!-- single box-->
    <div class="span4 well" id="{{item.id}}">
        <div class="row-fluid">
            <div class="span8 text-fix">
                <strong>Name: </strong>{{item.name}}
                <br/>
                {% for tag in item.tags.all %}
                {% if forloop.first%}<strong>Type: </strong>{% endif%}
                {% if forloop.last %} {{ tag.name }} {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                <br/><!--max of 100-106 char -->
                {{item.description|truncatechars:103}}
                <div>
                    <!--<strong>{{item.owner.email}}</strong>-->
                    <img alt="gravatar" src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
                </div>
            </div>
            <div class="span4">
                <a href="#myModal{{item.id}}" role="button" data-toggle="modal"><img alt="qrcode" src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/></a>
            </div>
        </div>
    </div><!--end single box -->
{% endif %}


<div id="myModal{{item.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{{item.name}}</h3>
    </div>
    <div class="modal-body item-page">
        <div class="row">
            <div class="span2">
                {% if item.image %}
                    <img src="{{item.image.url}}" width="100px" height="100px"/>
                {% else %}
                    <img src="http://placehold.it/100"/>
                {% endif %}
            </div>
            <div class="span6 offset1">
                <h4><strong>Description</strong> : {{item.description}}</h4>
                <h4><strong>Price </strong> : {{item.price}}  {% if item.negotiable %} Negotiable {% else %} Final {% endif %}</h4>
                {% for tag in item.tags.all %}
                {% if forloop.first %}<h4><strong>Type</strong>:{% endif%}
                {% if forloop.last %} {{ tag.name }} </h4> {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                </h4>
            </div>
        </div>
        {% if user.is_authenticated%}
        <div>
            <textarea class="msg-contact-seller"></textarea>
        </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        {% if user.is_authenticated%}
            <button class="btn btn-primary">Contact Seller</button> 
            <input type="hidden" name="{{item.id}}"/>
        {% else %}
            <div style="position:relative; bottom:0;width:100%;left:0;height:30px;background-color:#434; margin:5px 10px 3px 2px;padding:3px 3px 3px 10px;">
                <h4 class="pull-left" style="color:#ddd;">Login to contact seller</h4>
            </div>
        {% endif %}
    </div>
</div>'
