<!-- single box-->
{% block mini%}
<div class="span12 well item-strip {% if item.looking_for %} buying {% else %} selling {% endif %}" id="{{item.id}}" style="height:140px;">
    <a href="#myModal{{item.id}}" class="no-links" role="button" data-toggle="modal">
        <div class="row-fluid">
            {%if item.image_first %}
            <div class="span4">
            {% else %}
            <div class="span6">
            {% endif %}
                <h3>{{item.name|truncatechars:53}}</h3>
                {% for tag in item.tags.all %}
                {% if forloop.first%}<strong>Tags: </strong>{% endif%}
                {% if forloop.last %} {{ tag.name }} {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                <br/><!--max of 100-106 char -->
            </div>
            {%if item.image_first %}
            <div class="span4">
            {% else %}
            <div class="span6">
            {% endif %}
                {{item.description|truncatechars:300}}
            </div>
            {% comment %}
            <div class="span2" style="padding: 3%;">
                <h3>{{item.price}} $</h3>
            </div>
            {% endcomment %}
            {%if item.image_first %}
            <div class="span4">{# span4 #}
                <div class="row"> {#row #}
                    <div class="span4">
                        <img alt="image" src="{{ item.image_first.url }}" class="hoverImages" />
                    </div>
                    {%if item.image_second %}
                    <div class="span4">       
                        <img alt="image" src="{{ item.image_second.url }}" class="hoverImages" />
                    </div>
                    {% endif %}
                    {%if item.image_third %}
                    <div class="span4">
                        <img alt="image_third" src="{{ item.image_third.url }}" class="hoverImages" />         
                    </div>
                    {% endif %}
                </div> {#end row#}
            </div> {# end span4 #}
            {% endif %}
        </div>
    </a>
</div><!--end single box -->
{% endblock %}

{% block modal %}
{%block modal_div %}
<div id="myModal{{item.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% endblock %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        {% comment %}<h3 id="myModalLabel">{{item.name|truncatechars:85}}<span class="permalink pull-right" style="font-size:11px;"><a href="/item/{{item.id}}">Permalink</a></span>{% endcomment %}
       <h3 id="myModalLabel">{{item.name|truncatechars:85}}</h3>
       <h5 class="permalink " style="font-size:11px;"><a href="/item/{{item.id}}">Open in new tab</a></h5>
            </div>
    <div class="modal-body item-page">
        <div class="row-fluid">
            {% if item.image_first %}
            <div class="span12">
                <div id="myCarousel{{item.id}}" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel{{item.id}}" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel{{item.id}}" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel{{item.id}}" data-slide-to="2" class=""></li>
                </ol>
               
                <div class="carousel-inner">
                  {%if item.image_first %}
                  <div class="item active">
                      <img src="{{ item.image_first.url }}" alt="">
                  </div>
                  {% endif %}
                  {%if item.image_second %}
                  <div class="item">
                      <img src="{{ item.image_second.url }}" alt="">
                  </div>
                  {% endif %}
                  {%if item.image_third %}
                  <div class="item">
                      <img src="{{ item.image_third.url }}" alt="">
                  </div>
                  {% endif %}
                </div>
              <a class="left carousel-control" href="#myCarousel{{item.id}}" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel{{item.id}}" data-slide="next">›</a>
               
          </div>
      </div>
          {% endif %}
      </div>
      {% block text %}
      <div class="span10 offset1">
        <h4><strong>Category</strong> : {{item.category}}</h4>
        {% for tag in item.tags.all %}
        {% if forloop.first %}<h4><strong>Tags</strong>:{% endif%}
        {% if forloop.last %} {{ tag.name }} </h4> {% else %} {{ tag.name }}, {% endif %}
        {% endfor %}
        <h4><strong>Price </strong> : {{item.price}}  {% if item.negotiable %} Negotiable {% endif %}</h4>
        <h4><strong>Description</strong> : {{item.description}}</h4>
        

    </div>
    {% endblock %} {# text #}

{% if user.is_authenticated %}
{% ifnotequal user item.owner %}
<div>
    <textarea class="msg-contact-seller"></textarea>
</div>
{% endifnotequal %}
{% endif %}
</div>
<div class="modal-footer">
    {% if user.is_authenticated%}
    {% ifnotequal user item.owner %}
    <button class="btn btn-primary">Send Message to Seller</button> 
    <input type="hidden" name="{{item.id}}"/>
    {% endifnotequal %}
    {% else %}
    <div style="position:relative; bottom:0;width:100%;left:0;height:30px;background-color:#434; margin:2px 10px 3px 2px;padding:3px 3px 3px 10px;">
        <h4 class="pull-left" style="color:#ddd;">Login to contact seller</h4>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
