{% if user.is_authenticated %}
{% comment %}Item with image{% endcomment %}
   <!-- single box-->
    <div class="span4">
        <div class="row-fluid">
            <div class="span4">
                <a href="#myModal" role="button" data-toggle="modal">
                    <!-- <img alt="item image" src="http://placehold.it/100x100" class="hoverImages"/> -->
                    {% if item.image %}
                    <img alt="image" src="{{ item.image.url }}" class="hoverImages" width=100px height=100px/>
                    {% else %}
                    <img alt="item image" src="http://placehold.it/100x100" class="hoverImages"/>
                    {% endif %}
                </a>
            </div>
            <div class="span6 text-fix">
                <strong>Name: </strong>{{item.name}}
                <br/>
                {% for tag in item.tags.all %}
                {% if forloop.first%}<strong>Type: </strong>{% endif%}
                {% if forloop.last %} {{ tag.name }} {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                <br/><!--max of 100-106 char -->
                {{item.description|truncatechars:103}}
                <div>
                    <strong>{{item.owner.email}}</strong>
                    <img alt="gravatar" src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
                </div>
                
            </div>
        </div>
    </div><!--end single box -->
{% else %}
{% comment %}Item without image{% endcomment %}
        <!-- single box-->
    <div class="span4 well">
        <div class="row-fluid">
            <div class="span8 text-fix">
                <strong>Name: </strong>{{item.name}}
                <br/>
                {% for tag in item.tags.all %}
                {% if forloop.first%}<strong>Type: </strong>{% endif%}
                {% if forloop.last %} {{ tag.name }} {% else %} {{ tag.name }}, {% endif %}
                {% endfor %}
                <br/><!--max of 100-106 char -->
                {{item.description|truncatechars:103}}
                <div>
                    <strong>{{item.owner.email}}</strong>
                    <img alt="gravatar" src="http://www.gravatar.com/avatar/39f730199cd827fc603ad17003fb3967?s=20"/>
                </div>
            </div>
            <div class="span4">
                <a href="#myModal" role="button" data-toggle="modal"><img alt="qrcode" src="http://en.gravatar.com/davidogutu.qr?s=100" class="hoverImages"/></a>
            </div>
        </div>
    </div><!--end single box -->
{% endif %}