<div id="passModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Password Reset</h3>
    </div>
    <div class="modal-body">
        <form id="password-reset-form" accept-charset="UTF-8" class="form-stacked" >
          <div class="clearfix">
                <label for="id_old_Password">Old password</label>
                <div class="input">
                  <input id="id_old_Password" name="old_Password" type="password" />
                </div>
              </div>
              <div class="clearfix">
                <label for="id_new_Password">New password</label>
                <div class="input">
                  <input id="id_new_Password" name="new_Password" type="password" />
                </div>
              </div>
              <div class="clearfix">
                <label for="id_confirm_New_Password">Confirm new password</label>
                <div class="input">
                  <input id="id_confirm_New_Password" name="confirm_New_Password" type="password" />
                </div>
              </div>

            <div class="passmodal-footer">
                <input class="btn btn-primary" name="commit" type="submit" value="Save new Password">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>

        </form>
    </div>
</div>

<script>
    $('#password-reset-form').submit(function(event){
        function showError(msg){
            //clear old alerts
            $('.alert').remove();
            var html = '<div class="alert alert-error">'+msg+'</div>';
            $('#password-reset-form .clearfix:first').prepend(html);
        }
        function notify(msg){
            //clear old alerts
            $('.alert').remove();
            var html = '<div class="alert alert-info">'+msg+'</div>';
            $('#password-reset-form .clearfix:first').prepend(html);
        }
    console.log('form has been submitted');
    event.preventDefault();

    if($('#id_new_Password').val() == '' || $('#id_confirm_New_Password').val() == '' || $('#id_old_Password').val==''){
        showError('No blank fields');
        return;
    }


    //check to see if new passwords are identical
    if($('#id_new_Password').val() != $('#id_confirm_New_Password').val()){
        showError('New password does not match confirmation');
        return;
    }

    data = { old_password:$('#id_old_Password').val(),
        new_password:$('#id_new_Password').val(), 
        confirm_new_password:$('#id_confirm_New_Password').val()
        }
    console.log('data');console.log(data);
    $.post('{% url "password"%}', data).done(function(data){
        console.log('data received');
        console.log(data);
        if(data.status=='OK'){
            notify(data.data);
            setTimeout("$('#passModal').modal('hide')",4000)
        }
        else{showError(data.data)}
    });

});
</script>
